.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer > .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;;
    color: white;
    border: 1px solid #cbcbcb;
    background-color: #404040;
    white-space: nowrap;
}
.footer > .box span {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    text-overflow: ellipsis;
}